<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title || 'λ€λ•λ€ν•™κµ'
    link(rel="stylesheet", href="/home.css")
  body
    .global-wrapper
      .title-container
        .title-container__main
          span.title-color__first λ€λ•
          span.title-color__second λ€ν•™κµ 
        .title-container__sub
          span.title-text λ¬΄μ—‡μ΄λ“  λ¬Όμ–΄λ³΄μ„Έμ”!
      .main-container
        .chatbox-container
          .chatbox-container__title
            span μ±„ν…λ°©
            span &nbsp;λ©λ΅
          .chatbox-container__room
            ul.chatbox-room__container
              each room in rooms
                li.chatbox-room
                  span.chatbox-room__title= room.title
                  span.chatbox-room__people μΈμ›: 10/#{room.count}
                  form(action=`/room/${room.id}`, method="get")
                    button.chatbox-room__enter--btn μ…μ¥
          form.chatbox-inquire(action="/room" method="GET")        
            button.chatbox-inquire__button(type="submit") λ°©λ§λ“¤κΈ°
      
  script(src="/socket.io/socket.io.js")
  script.
    const socket = io.connect('http://localhost:8001');
    socket.emit('connection', () => {
      console.log('ν΄λΌμ΄μ–ΈνΈλ‹ μ…μ¥ν•μ‹ λ‹¤~ π');
    });